#page_container { width: 600px; height: 500px; position:relative; }
#page_container #tile_map { width: 600px; height: 500px; opacity: 0; z-index: 10; }
#page_container #canvas_container { width: 600px; height: 500px;  top:0px; z-index:5; position:absolute; }
#page_container #canvas_container #canvas_map { width: 600px; height: 500px; }
