#top_bar_container .dropdown { float: left; height: 50px; width: 225px; display:table-cell; line-height: 50px; text-align: center; cursor: pointer; }
#top_bar_container .dropdown:hover > .dropdown_menu { visibility: visible; }
#top_bar_container .dropdown .dropdown_menu { visibility: hidden; position: relative; background-color: lightgray; z-index: 100; }
#top_bar_container .dropdown .dropdown_menu .dropdown_menu_option:hover { background-color:gray; }
#gui_container #gui { width: 200px; background-color: lightgoldenrodyellow; margin:auto; z-index: 105; display: flex; flex-direction: column; align-content: center; justify-content: center; padding: 10px; visibility: hidden; }
#gui_container #gui #close_gui { margin-top:-10px; margin-left: 185px;  }
#gui_container #gui #close_gui:hover { cursor: pointer; }
#gui_container #gui #gui_actions { background-color: lightgreen; padding:10px; }
#gui_container #gui #inner_gui { background-color: lightsalmon; width: 100%; margin: 0px; }



